# {{SITE_OR_PROJECT_NAME}}

> {{SHORT_TRUTHFUL_SUMMARY_FROM_THE_PUBLIC_SOURCE_OF_TRUTH}}

{{OPTIONAL_SCOPE_VERSION_OR_INTERPRETATION_NOTES}}

## Primary resources

- [{{RESOURCE_NAME}}]({{ABSOLUTE_HTTPS_CANONICAL_OR_MARKDOWN_URL}}): {{WHAT_THE_RESOURCE_COVERS}}

## Optional

- [{{SECONDARY_RESOURCE_NAME}}]({{ABSOLUTE_HTTPS_URL}}): {{WHY_A_CLIENT_MAY_SKIP_OR_USE_IT}}
